*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
    color: #fff;
    font-family: system-ui,;
}
.crud{
    width:80% ;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;

}
input{
   width: 100%;
   height: 30px;
   outline: none;
   border: none;
   background: #111;
   margin: 4px 0;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
   padding: 4px;
   color: #fff;
}
input:focus{
    background: #000;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background: #e40505;
    padding: 5px 2px;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
#total::before{
    content: 'Total:';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #520575;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
button:hover{
    background: #8c08a3;
    letter-spacing: 1px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;

}
.btnSearch button{
    width: 45%;
}
#deleteAll{
    margin: 20px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
} 
table th {
    text-transform: uppercase;
}
th td {
    padding: 5px;
}
